body{
  font-family: "Open Sans";
  background-color: #212121;
}

#bixak {
width: 100%;
height: 6%;
margin: 0 auto;
text-align:center;
}

*{
  outline: 0;
  color: #BDBDBD;
  font-size: 30px;
}

#titulua{
 font-size: 80px;
}

#linkia {
  background-image: url('koa3.png');
  height: 40px;
  width: 284px;
  background-repeat: no-repeat;
  background-size: 300px 80px;
  margin: auto;
  padding: 10px;
  transition: all 0.5s;
}
#hexa {
  background-image: url('https://github.com/axii14/Marraz/blob/main/Images/kreditua.png?raw=true');
  height: 130px;
  width: 284px;
  background-repeat: no-repeat;
  background-size: 300px 130px;
  margin: auto;
  padding: 10px;
  border: #e74c3c;
  margin-top: -90px;
}

section{
  margin: 30px auto;
  width: 90%;
  color: #faebcd;
  font-size: 20px;
}

summary{
  cursor: pointer;
  padding: 20px;
  font-family: "Arvo", Georgia, serif;
  font-size: 28px;
  border-bottom: 2px solid;
}

#a1{
  color: #f5b553;
}
#a2{
  color: #f59aa3;
}
#a3{
  color: #34a7b2;
}
#a4{
  color: #a696c8;
}

#zatixak{
width: 14%;
}
#zatixak2{
width: 30%;
}
#zatixak3{
width: 18%;
}
#zatixak4{
width: 32%;
}
#zatixak5{
width: 42%;
}
#zatixak6{
  width: 21%;
  }

#argazkixa{
  transition: all 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#hacka{
  transition: all 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#argazkixaa2{
transition: all 0.5s;

margin-left: -110px;
  margin-top: 2%;
  width: 80%;
}
#argazkixaa{
transition: all 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
#spiderman{
  transition: all 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
#distantzia{
  transition: all 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#dis{
  transition: all 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 24%;
}

.erdixaa1 {
float: left;
width: 33.33%;

}
.erdixaa2 {
float: left;
width: 66%;

}

.tit::after {
content: "";
clear: both;
display: table;
}

#titu{
transition: all 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#titu2{
  transition: all 0.5s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

h6{
  text-align: center;
  color:#ffffff;
  font-size: 12px;
  margin-top: 30px;
  font-family: 'Courier New', monospace;;
}

#argazkixa2{
transition: all 0.5s;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#bidixuak{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
#bidixua{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

#argazkixa:hover{
  transform: scale(1.09);
  opacity: 1;;
}
#argazkixa2:hover{
transform: scale(1.09);
opacity: 1;;
}
#argazkixaa:hover{
transform: scale(1.09);
opacity: 1;;
}
#spiderman:hover{
  transform: scale(1.09);
  opacity: 1;;
  }

#titu:hover{
transform: scale(1.09);
opacity: 1;;
}

.erdixa {
float: left;
width: 50%;
}

.herena {
  float: left;
  width: 33,33%;
  margin-left: 30px;
  margin-left: -80px;
  }

  #generala{
    background-color: rgb(143, 28, 28);
  text-align: center;
  width: 60%;
  display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px outset white;
  }

.bi:after {
content: "";
display: table;
clear: both;
}

p{
  text-align: center;
  font-size: 35px;
}

a{
font-size: 35px;
}



a#zabaldu:hover{
  cursor: pointer;
}

.erdixae1 {
  float: center;
  width: 95%;
  margin-left: 4%;
  }

#linkia {
  background-image: url('https://github.com/axii14/Marraz/blob/main/Images/koa3.png?raw=true');
  height: 40px;
  width: 284px;
  background-repeat: no-repeat;
  background-size: 300px 80px;
  margin: auto;
  padding: 10px;
  transition: all 0.5s;
}

#linkia:hover {
  background-image: url('https://github.com/axii14/Marraz/blob/main/Images/koa2.png?raw=true');
  transform: scale(1.09);
}

.popup{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 9999999;
  background: rgba(0,0,0, 0.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;
    -webkit-transition: opacity  0.35s ease;
    -moz-transition: opacity 0.35s ease;
    -o-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
}
.popup .grupua{
  width: 100%;
  max-width: 540px;
  position: fixed;
  left: 50%;
  top: -100vh;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
  margin-left: -250px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 2px;
  z-index: 9999999; 
}

.popup article{
	height: 220px;
  background-color: #291b1b;
}

.popup a.closePopUp{
  font-family: verdana;
  color: #e74c3c;
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 0.5em;
  text-decoration: none;
}

.popup:target{
  opacity: 1;
  top: 0;
}

.popup:target .grupua{
  top: 50px;
    -webkit-transition: top  0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
}
