body{
    font-family: 'Open Sans', sans-serif;
    background-color: #212121;
}
  
#mapia, #mapixia, #mapia4{
    width: 90%;
    height: 600px;
    margin: 10px 10px 0;
    border: 3px solid black;
    padding: 0% 0% 0% 8%;
}
#mapia2, #mapia3{
  width: 42%;
  height: 280%;
  margin: 1% 1% 0;
  border: 3px solid black;
  padding: 0% 0% 0% 4%;

  display: inline-block;
  vertical-align: top;
}

#bixak {
  width: 100%;
  height: 6%;
  margin: 0 auto;
  text-align:center;
}

*{
    outline: 0;
    cursor: url("drogon.png"), pointer;
    color: #BDBDBD;
}
  
section{
    margin: 30px auto;
    width: 90%;
    color: #854836;
    font-size: 20px;
}
  
summary{
    cursor: pointer;
    padding: 20px;
    font-family: "Colors Of Autumn";
    font-size: 28px;
    border-bottom: 2px solid;
    color: rgb(255, 194, 194);
}
  
summary div{
    height: 100%;
    padding: 0 20px;
    font-family: "";
    line-height: 1.5;
}
  
details div img{
    width: 200px;
    margin-top: 20px;
}
  
details[open] summary{
     color: rgb(255, 72, 72);
}
  
details[open] p{
    animation-name: behera;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
  
@keyframes behera{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      padding: 5px;
}}
  
 h1{
    color: white;
    text-align: center;
    font-family: Muthiara -Demo Version-;
 }
  
 #argazkixa{
    transition: all 0.5s;
    filter: grayscale(40%);
    border-radius: 10px;
    opacity: 0.6;
    filter: brightness(80%);
    max-width: 200px;
  
 }

 #argazkixa:hover{
    transform: scale(1.09);
    opacity: 1;;
}
  
  .herena{
    width: 28%;
    float: left;
    margin: 2% 0% 3% 4%;
    text-align: center;
}

  .herena2{
    width: 28%;
    margin: 2% 0% 3% 4%;
    text-align: center;
    padding: 0% 0% 0% 32%;
}
  
  .as{
  height: 3406.4px;
}

.es{
  height: 2278.4px;
}

.is{
  height: 3518.4px;
}

.us{
  height: 2340px;
}

p{
    text-align: center;
}


table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table tr {
    border: 3px solid #ffb59f;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #ffbf84;
  }
 
   .kalkuluak{
     text-align: center;
     list-style-position: inside;
   }

   h2{
    font-weight: 400;
    text-align: center;
    font-family: "bromello";
  }

  .erdixa{
    width: 44%;
    float: left;
    margin: 4% 0 0% 4%;
    text-align: center;
  }
  
  #gorrixa{
  color: rgb(214, 85, 85);
  font-family: "Arvo", Georgia, serif;
  }

  #urdiña{
  color: rgb(85, 145, 214);
  font-family: "Arvo", Georgia, serif;
  }

  #helburua{
    text-align: center;
    font-family: "Vollkorn", Georgia, serif;
    color: rgb(240, 140, 140);
  }
