@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


body.active #sidebarra {
  left:0px;
}

#sidebarra {
  position:fixed;
  top:0px;
  left:-250px;
  width:200px;
  height:100%;
  background:#0a0d0e;
  transition:all 300ms linear;
}

.botoia {
  position:fixed;
  width:40px;
  height:40px;
  z-index:3;
  margin:20px;
  cursor:pointer;
}

.botoia span {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) rotate(0deg);
  width:75%;
  height:4px;
  background:#a56cc1;
}

.botoia span:nth-child(1) {
  top:25%;
  background:#ffffff;
}

.botoia span:nth-child(3) {
  top:75%;
  background:#ffffff;
}

body.active .botoia span:nth-child(1) {
  top:50%;
  transform:translate(-50%,-50%) rotate(45deg);
}

body.active .botoia span:nth-child(2) {
  top:50%;
  display:none;
}

body.active .botoia span:nth-child(3) {
  transform:translate(-50%,-50%) rotate(-45deg);
  top:50%;
}

#sidebarra .linkak {
  margin-top:85px;
  font-family:"Open Sans",sans-serif;
}

#sidebarra .linkak * {
  cursor:pointer;
  text-transform:uppercase;
}

#sidebarra .linkak .tituluaa {
  font-size:15px;
  color:#888;
  font-weight:800;
  padding:5px 20px;
  margin:20px 0px 5px;
}

#sidebarra .linkak .separadoria {
  margin: 20px 35px;
  width:calc(100% - 70px);
  height:1px;
  background:#101c25;
}

#sidebarra .linkak a {
  position:relative;
  padding:10px 30px;
  text-decoration:none;
  display:block;
  font-size:14px;
  z-index:2;
}

#sidebarra .linkak a:before {
  content:"";
  position:absolute;
  left:0px;
  width:100%;
  height:100%;
  background:#222;
  z-index:-1;
  top:0px;
  left:-250px;
  transition:all 200ms linear;
  background:#111;
}

#sidebarra .linkak a:hover:before {
  left:0px;
  background:#222;
}

#linka1, #linka2, #linka3, #linka4, #linka5, #linka6{
  color:#ddd;
}
#linka1:hover{
  color: #ff3434;
}
#linka2:hover{
  color: #4d6de3;
}
#linka3:hover{
  color: #686868;
}
#linka4:hover{
  color: #a7cf5d;
}
#linka5:hover{
  color: #a56cc1;
}
#linka6:hover{
  color: #ff9a3c;
}








body{
  font-family: "Open Sans";
  background-color: #212121;
}
